 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae iaculis orci, id elementum nibh. Morbi fringilla mi non purus iaculis iaculis. Curabitur non hendrerit ligula. Sed sit amet pulvinar lacus. Quisque sit amet erat posuere, consequat magna vitae, ornare erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ultrices ipsum vel felis vulputate, a suscipit massa sagittis. Phasellus tincidunt turpis magna, vitae laoreet lacus vulputate convallis. Nulla non molestie eros. Suspendisse odio tortor, auctor eu odio a, pellentesque efficitur felis. Nullam tincidunt molestie lorem ac venenatis. Aenean pharetra sem quis nisi maximus aliquet. Sed volutpat sagittis libero sed blandit. In tincidunt efficitur lacus, vitae suscipit urna fermentum non.
                    </p>
                </div>
            </div>
        </div>
    </section>
